/*

*/
/* 
    Created on : 24/10/2023, 16:48:32
    Author     : Mario
*/
html{
  min-width:100%;
  max-width:900px;
  overflow:hidden;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
h1{
  text-align:center;
  font-family:sans-serif;
}
p {
  text-align: center;
}
#frentedocartao, #versodocartao {
  min-width:100%;
  max-width:900px;
  text-align: center;
  display: block;
}
#botoesManipuladores {
  min-width: 100%;
  max-width: 900px;
  margin-left:auto;
  margin-right:auto;
  
}


hr {
  margin-left:-8px;
}

/* Estilo base do botão */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de hover */
.button:hover {
  background-color: #2980b9;
  transform: scale(1.05); /* Aumenta o tamanho em 5% ao passar o mouse por cima */
}

.container {
  background: #fff;
  max-width: 20em;
  min-height: 30em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.centered-box {
  width: 900px;
  height: 330px;
  text-align: center;
}





