* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: gray;
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 450px;
  perspective: 900px;
}

.flip > .card { 
  cursor: pointer;
  transform: rotateY(180deg);
} 

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

#front,
#back {
  padding: 20px;
  background-color: rgb(224, 224, 224);
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  border-style: groove;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute; 
  backface-visibility: hidden;
}

#back {
  background-color: rgb(224, 224, 224);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
}

/* Estilo base do botão */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#ant {
  margin-right: 50px;
}

#vira {
  margin-top: 20px;
}

#prox { 
  margin-left: 50px;
}

.seta-esquerda {
  background-image: url("https://fonts.googleapis.com/icon?family=Material+Icons&icon=arrow_forward_ios");
  rotate: 180deg;
  font-size: 4em;
}

.seta-direita {
  background-image: url("https://fonts.googleapis.com/icon?family=Material+Icons&icon=arrow_forward_ios");
  font-size: 4em;
}

/* Efeito de hover */
.button:hover {
  background-color: #4c4c4c;
  transform: scale(1.05); /* Aumenta o tamanho em 5% ao passar o mouse por cima */
}
